body {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.music-player {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.album-cover {
    text-align: center;
}

.album-cover img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.song-info {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.song-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.artist-name {
    font-size: 18px;
    font-weight: 300;
}

.progress-container {
    padding: 5px 0;
}

.song-progress {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #555;
}

.song-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.volume-container {
    padding: 5px 0;
    display: flex;
    color: white;
    align-items: center;
}

.volume-icon {
    font-size: 18px;
    color: white;
    margin-right: 5px;
}

.volume-control {
    -webkit-appearance: none;
    width: 20%;
    height: 3px;
    border-radius: 3px;
    background-color: #555;
    color: white;
}

.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.volume-control::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.volume-control::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .controls button {
        padding: 6px 12px;
        font-size: 14px;
    }
}

.song-list-container {
    background-color: #444;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.song-list-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-item {
    padding: 5px 0;
    cursor: pointer;
}

.song-item:hover {
    color: #ddd;
}

.hidden {
    display: none;
}

.current-time,
.separator,
.total-duration {
    color: white;
    font-size: 12px;
    padding: 0 5px;
}